@mixin card-tilt-hover {
  transform-origin: center center;
  transition: transform 0.30s cubic-bezier(0.40, 1.40, 0.80, 1);
  transform: rotate(0deg);

  &:hover {
    transform: rotate(-6deg);
  }

  &.isFlipped {
    transform: rotate(-180deg);

    &:hover {
      transform: rotate(-186deg);
    }
  }
}