@font-face {
  font-family: 'ErbenGothic';
  src: url('../fonts/erben_gothic.woff2') format('woff2'),
       url('../fonts/erben_gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sinistre';
  src: url('../fonts/Sinistre-StCaroline.woff2') format('woff2'),
       url('../fonts/Sinistre-StCaroline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-primary: 'ErbenGothic', serif;
$font-secondary: 'Sinistre', serif;

$color-primary: #19001E;
$color-secondary: #86159B;
$color-accent: #D6B0FF;